.children\:ml-0:deep(> *) {
    margin-left: 0 !important;
}
.border-b-none {
    border-bottom: none;
}
.min-w-0 {
    min-width: 0;
}

.su-console-group{
  border-bottom: 1px solid var(--c-border);
}