@include b('browser-decorate'){
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 3em;
  background-color: #f44;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f44,1.25em 0 0 2px #9b3,2.5em 0 0 2px #fb5;
}