.cls-1{fill:none;}
.cls-2{clip-path:url(#clip-path);}
.cls-3{clip-path:url(#clip-path-2);}
.cls-4{fill:url(#未命名的渐变);}
.cls-5{clip-path:url(#clip-path-3);}
.cls-6{fill:url(#未命名的渐变_2);}
.cls-7{clip-path:url(#clip-path-4);}
.cls-8{fill:url(#未命名的渐变_3);}
.cls-9{fill:#e6e6e6;}
.cls-10{fill:#ececec;}
.cls-11{fill:#f2f2f2;}
.cls-12{fill:#fff;}
.cls-13{opacity:0.7;}
.cls-14{clip-path:url(#clip-path-5);}